body {
  font-family: sans-serif;
  background-color: #e1e5f0;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

header {
  display: block;
  background-color: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 5px 5px 5px 15px;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

div.submit-buttons {
  margin: 10px;
  text-align: center;
}

.new-message input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-message input:focus{
  outline: 0;
}

ul.messages {
  margin: 0;
  padding: 0;
  background: white;
}

ul.messages > li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}

ul.messages > li .text {
  margin-left: 5px;
}

.delete-message {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.edit-message {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

span.location {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

div.nav {
  background: white;
}

div.nav > ul {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

div.nav > ul > li {
  position: relative;
  display: inline-block;
  padding: 15px 15px 5px;
}

div.nav > span {
  color: blue;
  float: left;
  padding: 15px 15px 5px;
}

@media (max-width: 800px) {
  ul.messages li {
    padding: 9px 11px;
  }

  .new-message input {
    padding-bottom: 5px;
  }
}
