<head>
    <title>Broadcastes in your location</title>
</head>

<body>
</body>

<template name="layout">
    <div class="container">
        {{>navigation}}
        {{>yield}}
    </div>
</template>

<template name="home">
    {{#if currentUser}}
        {{>messageList}}
    {{else}}
        {{>login}}
    {{/if}}
</template>
