<template name="login">
  <header>
    <h2>Please, sign in</h2>
  </header>

  <form>
    <ul class="messages">
      <li>
        <label>Your email <input type="email" name="loginEmail" /></label>
      </li>
      <li>
        <label>Password <input type="password" name="loginPassword" /></label>
      </li>
    </ul>
    <div class="submit-buttons">
      <input type="submit" value="Login" />
    </div>
  </form>
</template>
