<!-- Tried to use quickForm in the test task -->
<template name="messageEdit">
    <header>
        <h2>Edit message in your location ({{ currentLocation }})</h2>
    </header>
    {{> quickForm collection="Messages" id="editMessageForm" type="update" omitFields="createdAt, owner" buttonContent="Update"}}
</template>
