<template name="messageList">
  <header>
    <h2>Messages in your location ({{ currentLocation }})</h2>
    <form class="new-message">
      <input type="text" name="text" placeholder="Type to add a new message" />
    </form>
  </header>

  <ul class="messages">
    {{#each tmessages}}
      <li data-user="{{_id}}">
        {{#if isOwner}}
          <button class="delete-message">&times;</button>
          <!-- I'm going to edit a message in the future -->
          <!-- <button class="edit-message">&#x2714;</button> -->
        {{/if}}
        <span class="text" data-location="{{location}}">{{message}}</span>
      </li>
    {{/each}}
  </ul>
</template>
