<template name="navigation">
  <div class="nav">
    {{#if currentUser}}
    <span class="info">{{ currentName }} &lt;{{ currentEmail }}&gt;</span>
    {{/if}}
    <ul>
      {{#if currentUser}}
      <li><a href="{{pathFor route='home'}}">Home</a></li>
      <li><a href="{{pathFor route='profile'}}">Profile</a></li>
      <li><a href="{{pathFor route='password'}}">Password</a></li>
      <li><a href="#" class="logout">Logout</a></li>
      {{else}}
      <li><a href="{{pathFor route='login'}}">Login</a></li>
      <li><a href="{{pathFor route='register'}}">Register</a></li>
      {{/if}}
    </ul>
  </div>
</template>
