<!-- we use a separate template, because Account.setPassword() was deprecated above accounts-password@1.0.3 -->
<template name="password">
    <header>
        <h2>Change password for {{email}}</h2>
    </header>

    <form data-user="{{_id}}">
        <ul class="messages">
            <li>
                <label>Old password <input type="password" name="oldPassword"/></label>
            </li>
            <li>
                <label>New password <input type="password" name="newPassword"/></label>
            </li>
            <li>
                <label>Repeat password <input type="password" name="repPassword"/></label>
            </li>
        </ul>
        <div class="submit-buttons">
            <input type="submit" value="Change"/>
        </div>
    </form>
</template>
