<template name="profile">
    <header>
        <h2>Edit profile {{email}}</h2>
    </header>

    <form data-user="{{_id}}">
        <ul class="messages">
            <li>
                <label>Your Name <input type="text" name="fullName" value="{{fullName}}"/></label>
            </li>
            <li>
                <label>Your login <input type="email" name="editEmail" value="{{email}}"/></label>
            </li>
            <li>
                <label>Your location <select name="editLocation">
                    {{#each tlocations}}
                        <option value="{{location}}" {{selectedIfEq location userLocation}}>{{description}}</option>
                    {{/each}}
                </select></label>
            </li>
        </ul>
        <div class="submit-buttons">
            <input type="submit" value="Save"/>
        </div>
    </form>
    <!-- {>quickForm collection="users" fields="" id="editProfileForm" type="update" omitFields="createdAt" buttonContent="Update"} -->
</template>

