<template name="register">
    <header>
        <h2>Please, register out</h2>
    </header>

    <form>
        <ul class="messages">
            <li>
                <label>Your email <input type="email" name="registerEmail"/></label>
            </li>
            <li>
                <label>Password <input type="password" name="registerPassword"/></label>
            </li>
            <li>
                <label>Your location <select name="registerLocation">
                    {{#each tlocations}}
                        <option value="{{location}}">{{description}}</option>
                    {{/each}}
                </select></label>
            </li>
        </ul>
        <div class="submit-buttons">
            <input type="submit" value="Register"/>
        </div>
    </form>
</template>
